/*
	SimpleSlider v1.4.0
	Simple responsive slider created in pure javascript.
	https://github.com/michu2k/SimpleSlider

	Copyright 2017 Michał Strumpf
	Published under MIT License
*/
// Slider container
.simple-slider {
	width: 100%;
	height: 300px;
	overflow: hidden;
	box-sizing: border-box;
	z-index: 4;
	position: relative;

	// Wrapper
	.slider-wrapper {
		height: 100%;
		position: relative;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	// Slide
	.slider-slide {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		height: 100%;
		float: left;
		position: relative;	
	}

	// Buttons
	.slider-btn {
		width: 30px;
		height: 50px;
		top: 50%;
		cursor: pointer;
		background-repeat: no-repeat;
		position: absolute;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);	

		&.slider-btn-prev {
			left: 20px;
			background-image: url(../img/prev.svg);
			background-position: left;
		}

		&.slider-btn-next {
			right: 20px;
			background-image: url(../img/next.svg);
			background-position: right;
		}
	}
}
